<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> App landing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/template/img/favicon.ico">


</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/template/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->


<!-- Register -->

<main class="login-body" data-vide-bg="assets/template/img/login-bg.mp4">
    <!-- Login Admin -->
    <form class="form-default" (ngSubmit)="save()" method="post">

        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="index.html"><img src="assets/template/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Registration Here</h2>

            <div class="form-input">
                <label for="name">Nom</label>
                <input  type="text" name="name" placeholder="Full name" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-input">
              <label for="name">Prenom</label>
              <input  type="text" name="prenom" placeholder="Prenom" [(ngModel)]="prenom" [ngModelOptions]="{standalone: true}">
          </div>
            <div class="form-input">
                <label for="name">Email Address</label>
                <input type="email" name="email" placeholder="Email Address"[(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-input">
                <label for="name">Password</label>
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-input">
              <label for="name">Date</label>
              <input type="date" name="datenaiss" placeholder="Password" [(ngModel)]="datenaiss" [ngModelOptions]="{standalone: true}">
          </div>
            <div class="form-input">
              <label for="name">Telephone</label>
              <input type="number" name="telephone" placeholder="Telphone" [(ngModel)]="telephone" [ngModelOptions]="{standalone: true}">
          </div>

          <!-- <div class="form-input">
            <label for="role">Rôle</label>
            <select name="role" [(ngModel)]="selectedRole">
                <option value="APPRENANT">Apprenant</option>
                <option value="FORMATEUR">Formateur</option>
            </select>
        </div> -->

        <mat-form-field>
          <mat-label>Rôle</mat-label>
          <mat-select disableRipple [(ngModel)]="selectedRole" name="role">
            <mat-option value="APPRENANT">Apprenant</mat-option>
            <mat-option value="FORMATEUR">Formateur</mat-option>
          </mat-select>
        </mat-form-field>
        <br><br>


            <!-- <div class="form-input pt-30">
                <input type="submit" name="submit" value="Registration">
            </div> -->
            <button type="submit" class="btn btn-primary" >Register</button>

            <!-- Forget Password -->
            <a href="./login" class="registration">login</a>
        </div>
    </form>
    <!-- /end login form -->
</main>




    </body>
</html>
