<mat-toolbar color="primary">
  <span>Formateur</span>
</mat-toolbar>

<div class="container allformateur-container">
  <!-- <a mat-raised-button color="primary" routerLink="/admin/addformateur">Add</a> -->
  <a href="javascript:;" class="btn btn-sm btn-outline-primary"  routerLink="/admin/addformateur">Ajouter</a>

</div>


<div class="container allstudents-container">
  <table mat-table [dataSource]="allFormateursSource" class="mat-elevation-z8">


    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let formateur">{{ formateur.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>Prenom</th>
      <td mat-cell *matCellDef="let formateur">{{formateur.prenom}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let formateur">{{ formateur.email }}</td>
    </ng-container>



    <ng-container matColumnDef="datenaiss">
      <th mat-header-cell *matHeaderCellDef> Date de Naissance </th>
      <td mat-cell *matCellDef="let formateur"> {{ formateur.datenaiss | date }} </td>
    </ng-container>



    <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef>Telephone</th>
        <td mat-cell *matCellDef="let formateur">{{ formateur.telephone }}</td>
      </ng-container>



      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let formateur"> <img [src]="formateur.photo" alt="Photo"> </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let formateur">
        <!-- <a [routerLink]="['/editformateur', formateur.id]"

          ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="edit"
          >
          </mat-icon
        ></a> -->

        <a [routerLink]="['/editformateur', formateur.id]">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </a>
        <mat-icon
          (click)="openDeleteModal(formateur.id)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
        </td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


  </table>
</div>

